@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
    background-color: #e2e2e2;
}
.sector{
    display: flex;
}

.section{
    background: linear-gradient(to right, rgb(0, 255, 234), rgb(1, 165, 151));
    height: 50px;
}

.home{
    padding: 15px;
    text-align: center;
    letter-spacing: 35px;
}

.myprofile{
    
    background: linear-gradient(to right, #01a9ac, #01dbdf);
    height: 325px;
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
    
}

img{
    border-radius: 20px;
    
}

.bio{
    padding: 20px;
}

.myskills{
    padding: 20px;
}
